In [1]:
import os
import requests
import sys

In [117]:
for i in range(1,25):
    url='https://www.99acres.com/property-in-hinjewadi-pune-ffid-page-{}.html'.format(i)
    texts= requests.get(url)
    text_utf=texts.text.encode('utf=8')
    
    with open(r'C:\Users\prana\Desktop\projects\VSJ\data\html\{}.html'.format(i),'wb') as output:
        output.write(text_utf)
        
    sys.stdout.flush()

In [118]:
import pandas as pd
import csv
from bs4 import BeautifulSoup

In [119]:

def met_data(page):
    file_html= open(r'C:\Users\prana\Desktop\projects\VSJ\data\html\{}.html'.format(page),'rb')
    plain_text= file_html.read()
    
    temp=[]
    finalD=[]
    soup= BeautifulSoup(plain_text,'lxml')
    
    for table in soup.findAll('table', {'class': 'srpTuple__tupleTable'}):
        for tbody in table:
            for tr in tbody:
                 
             
    rows= len(temp)/7
    for times in range(round(rows)):
        newtemp = []
        for i in range(7):
            newtemp.append(temp[0])
            temp.pop(0)
        finalD.append(newtemp)
        
    for a in range(len(finalD)):
        finalD[a].pop(4)
        finalD[a].pop(5)
    for a in range(len(finalD)):
        finalD[a].pop(4)
        
        
    return finalD

In [112]:
d_raw=[]
for page in range(1,25):
    df_page= met_data(page)
    d_raw+=df_date

In [113]:
with open(r'C:\Users\prana\Desktop\projects\VSJ\data\real.csv','w', encoding="utf-8") as csvfile:
    wr= csv.writer(csvfile, dialect='excel')
    wr.writerow(['Specification', 'Project', 'Price', 'Area'])
    wr.writerows(d_raw)

In [114]:
data= pd.read_csv(r'C:\Users\prana\Desktop\projects\VSJ\data\real.csv')
data.head()

,Specification,Project,Price,Area
0,2 BHK Residential Apartment in Hinjewadi,Xrbia Hinjewadi,"₹ 32 Lac₹ 7,692/sq.ft.",416 sq.ft. (39 sq.m.) Super built-up Area
1,2 BHK Residential Apartment in Hinjewadi,Xrbia Hinjewadi,"₹ 31.5 Lac₹ 5,431/sq.ft.",580 sq.ft. (54 sq.m.) Built-up Area
2,3 BHK Residential Apartment in Hinjewadi Phase 2,TCG The Crown Greens,"₹ 96 Lac₹ 5,714/sq.ft.","1,680 sq.ft. (156 sq.m.) Super built-up Area"
3,1 BHK Residential Apartment in Hinjewadi,Paranjape Blue Ridge,"₹ 55 Lac₹ 12,359/sq.ft.",445 sq.ft. (41 sq.m.) Super built-up Area
4,2 BHK Residential Apartment in Marunji,Hinjewadi Hills,"₹ 29.99 Lac₹ 5,767/sq.ft.",520 sq.ft. (48 sq.m.) Built-up Area

In [115]:
data.Specification.unique()

array(['2 BHK Residential Apartment in Hinjewadi',
       '3 BHK Residential Apartment in Hinjewadi Phase 2',
       '1 BHK Residential Apartment in Hinjewadi',
       '2 BHK Residential Apartment in Marunji',
       '(1 RK) Studio Apartment in Hinjewadi',
       '3 BHK Residential Apartment in Marunji',
       '1 BHK Residential Apartment in Marunji',
       '2 BHK Independent Builder Floor in Hinjewadi',
       '1 BHK Independent Builder Floor in Hinjewadi',
       '3 BHK Residential Apartment in Hinjewadi'], dtype=object)

In [116]:
data.Project.unique()

array(['Xrbia Hinjewadi', 'TCG The Crown Greens', 'Paranjape Blue Ridge',
       'Hinjewadi Hills', 'XION ATHASHRI', 'Shapoorji Joyville',
       'shishir chs', 'xrbia', 'MP Residency', 'Highpoint ITrend Homes',
       'SMP Destination Hinjawadi', 'Rama Air Castles',
       'Kolte Patil Life Republic', 'Kolte Patil', 'Xrbia Township',
       'Xrbia City', 'Vijay Sketch Book', 'Vasant Utsav', 'Geras Adara'],
      dtype=object)